@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');


header > div {
    background-color: rgb(73, 73, 73);
    padding: 40px;
}

header > div > h1 {
    color: white;
    font-size: 2.5rem;
}

header > div > h1::first-letter {
    color: gold;
}

header > div > h1 > span {
    color:gold;
    transition-duration: 0.5s;
}

header > nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    padding: 10px;
}

header > nav.navbar.navbar-expand-lg.navbar-dark.bg-dark > div.container-fluid > a.navbar-brand:hover {
    color: gold;
    transition-duration: 0.5s;
}

header > nav.navbar.navbar-expand-lg.navbar-dark.bg-dark > div.container-fluid > div.collapse.navbar-collapse > ul.navbar-nav > li.nav-item.dropdown > a.nav-link.dropdown-toggle:hover {
    color: gold;
    transition-duration: 0.5s;
}

header > nav.navbar.navbar-expand-lg.navbar-dark.bg-dark > div.container-fluid > div.collapse.navbar-collapse > ul.navbar-nav > li.nav-item.dropdown > ul.dropdown-menu.dropdown-menu-dark > li > a:hover {
    color: gold;
    transition-duration: 0.5s;
}

header > nav.navbar.navbar-expand-lg.navbar-dark.bg-dark > div.container-fluid > div.collapse.navbar-collapse > div.menu > a {
    color:white;
    text-decoration: none;
    padding: 5px;
    transition-duration: 0.5s;
}


header > nav.navbar.navbar-expand-lg.navbar-dark.bg-dark > div.container-fluid > div.collapse.navbar-collapse > div.menu > a:hover {
    color: gold;
    transition-duration: 0.5s;
}

header > nav.navbar.navbar-expand-lg.navbar-dark.bg-dark >div.d-flex > button.btn.btn-outline-warning {
    transition-duration: 0.5s;
}

main {
    margin-top: 20px;
}

main > span {
    padding: 10px;
    font-size: 25px;
}


main > div.product-list {
    display: flex;
    flex-wrap: wrap;
}


main > div.product-list > article.product.col-lg-4.col-md-4.col-sm-4.col-xs-6 {
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0 1.5em 2em -1em rgb(180, 180, 180);
    padding: 15px;
    margin-bottom: 10px;
    transition-duration: 2s;
}

article:hover {
    outline: 2px solid white;
}

main > div.product-list > article.product.col-lg-4.col-md-4.col-sm-4.col-xs-6 > h3 {
    text-align: center;
    font-size: 20px;
}

main > div.product-list > article.product.col-lg-4.col-md-4.col-sm-4.col-xs-6 > img {
    width: 70%;
    margin-left: 45px;
}

main > div.product-list > article.product.col-lg-4.col-md-4.col-sm-4.col-xs-6 > p {
    text-align: center;
}

main > div.product-list > article.product.col-lg-4.col-md-4.col-sm-4.col-xs-6 > div.button {
    text-align: center;
}

main > div.product-list > article.product.col-lg-4.col-md-4.col-sm-4.col-xs-6 > div.button > div.btn.btn-warning {
    transition-duration: 0.5s;
}


h3:hover {
    color:gold;
    transition-duration: 0.5s;
}

body {
    max-width: 980px;
    margin: auto;
    font-family: 'Kurale', serif;
    scroll-behavior: smooth;
}