@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');


header > div {
    background-color: rgb(73, 73, 73);
    padding: 40px;
}

header > div > h1 {
    color: white;
    font-size: 2.5rem;
}

header > div > h1::first-letter {
    color: gold;
}

header > div > h1 > span {
    color:gold;
    transition-duration: 0.5s;
}

header > nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    padding: 10px;
}

header > nav.navbar.navbar-expand-lg.navbar-dark.bg-dark > div.container-fluid > a.navbar-brand:hover {
    color: gold;
    transition-duration: 0.5s;
}

header > nav.navbar.navbar-expand-lg.navbar-dark.bg-dark > div.container-fluid > div.collapse.navbar-collapse > ul.navbar-nav > li.nav-item.dropdown > a.nav-link.dropdown-toggle:hover {
    color: gold;
    transition-duration: 0.5s;
}

header > nav.navbar.navbar-expand-lg.navbar-dark.bg-dark > div.container-fluid > div.collapse.navbar-collapse > ul.navbar-nav > li.nav-item.dropdown > ul.dropdown-menu.dropdown-menu-dark > li > a:hover {
    color: gold;
    transition-duration: 0.5s;
}

header > nav.navbar.navbar-expand-lg.navbar-dark.bg-dark > div.container-fluid > div.collapse.navbar-collapse > div.menu > a {
    color:white;
    text-decoration: none;
    padding: 5px;
    transition-duration: 0.5s;
}


header > nav.navbar.navbar-expand-lg.navbar-dark.bg-dark > div.container-fluid > div.collapse.navbar-collapse > div.menu > a:hover {
    color: gold;
    transition-duration: 0.5s;
}

header > nav.navbar.navbar-expand-lg.navbar-dark.bg-dark >div.d-flex > button.btn.btn-outline-warning {
    transition-duration: 0.5s;
}

main > h2 {
    font-size: 35px;
    font-weight: bold;
    border-bottom: 1px solid;
}

main > div.image > img {
    width: 100%;
    height: 500px;
}

main > div.owl-carousel.owl-theme {
    display: flex;
}

main > div.owl-carousel.owl-theme > div.item {
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0 1.5em 2em -1em rgb(151, 150, 150);
    padding: 15px;
    margin-bottom: 10px;
    margin-left: 15px;
}

main > div.owl-carousel.owl-theme > div.item:hover {
    transform: scale(1.02);
    transition: all ease 0.3s;
}

main > div.owl-carousel.owl-theme > div.item > img {
    width: 230px;
}

main > div.owl-carousel.owl-theme > div.item > a {
    font-size: 16px;
    text-align: center;
    color: black;
    text-decoration: none;
}

main > div.owl-carousel.owl-theme > div.item > a:hover {
    color: red;
}

main > div.owl-carousel.owl-theme > div.item > div.price {
    display: inline-block;
    margin-left: 10px;
}

main > div.owl-carousel.owl-theme > div.item > div.price > span.price-old {
    text-decoration: line-through;
    font-size: 14px;
}

main > div.owl-carousel.owl-theme > div.item > div.price > span.price-new {
    display: block;
}

main > div.owl-carousel.owl-theme > div.item > button.btn.btn-danger {
    margin-left: 40px;
    margin-top: -15px;
}

main > section.new-products {
    padding-top: 100px;
}

main > section.new-products > h3 {
    font-size: 35px;
    font-weight: bold;
    border-bottom: 1px solid;
}

main > section.new-products > div.owl-carousel.owl-theme {
    display: flex;
}

main > section.new-products > div.owl-carousel.owl-theme > div.item {
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0 1.5em 2em -1em rgb(151, 150, 150);
    padding: 15px;
    margin-bottom: 10px;
    margin-left: 15px;
}

main > section.new-products > div.owl-carousel.owl-theme > div.item:hover {
    transform: scale(1.02);
    transition: all ease 0.3s;
}

main > section.new-products > div.owl-carousel.owl-theme > div.item > img {
    width: 230px;
}

main > section.new-products > div.owl-carousel.owl-theme > div.item > a {
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

main > section.new-products > div.owl-carousel.owl-theme > div.item > a:hover {
    color: red;
}


main > section.new-products > div.owl-carousel.owl-theme > div.item > div.price {
    margin-left: 20px;
    margin-top: 10px;
}

main > section.new-products > div.owl-carousel.owl-theme > div.item > button.btn.btn-danger {
    margin-left: 110px;
    margin-top: -45px;
}

main > section.popular-products {
    padding-top: 100px;
}

main > section.popular-products > h4 {
    font-size: 35px;
    font-weight: bold;
    border-bottom: 1px solid;
}

main > section.popular-products > div.owl-carousel.owl-theme {
    display: flex;
}

main > section.popular-products > div.owl-carousel.owl-theme > div.item {
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0 1.5em 2em -1em rgb(151, 150, 150);
    padding: 15px;
    margin-bottom: 10px;
    margin-left: 15px;
}

main > section.popular-products > div.owl-carousel.owl-theme > div.item:hover {
    transform: scale(1.02);
    transition: all ease 0.3s;
}

main > section.popular-products > div.owl-carousel.owl-theme > div.item > img {
    width: 230px;
}

main > section.popular-products > div.owl-carousel.owl-theme > div.item > a {
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

main > section.popular-products > div.owl-carousel.owl-theme > div.item > a:hover {
    color: red;
}


main > section.popular-products > div.owl-carousel.owl-theme > div.item > div.price {
    margin-left: 20px;
    margin-top: 10px;
}

main > section.popular-products > div.owl-carousel.owl-theme > div.item > button.btn.btn-danger {
    margin-left: 110px;
    margin-top: -45px;
}

footer {
    padding-top: 100px;
}

footer > div.container > p {
    padding-bottom: 20px;
}

footer > div.container {
    padding-right: 15px;
}

footer > div.container > h5 {
    text-align: center;
    font-size: 30px;
}

footer > div.container > div.promotextborder {
    padding: 15px;
    border: 1px solid black;
    margin-bottom: 20px;
}

footer > div.container > div.promotextborder > h6 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

footer > div.container > div.promotextborder > p > span {
    font-weight: bold;
}


footer > div.info-footer {
    background-color: black;
    padding-bottom: 20px;
}

footer > div.info-footer > div.footer-menu {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid white;
}

footer > div.info-footer > div.footer-menu > a {
    color: white;
    text-decoration: none;
    margin: 40px;
    transition-duration: 0.5s;
}

footer > div.info-footer > div.footer-menu > a:hover {
    color: red;
}

footer > div.info-footer > div.container {
    text-align: center;
    margin-top: 80px;
}

footer > div.info-footer > div.container > a {
    text-align: center;
    color: rgb(199, 199, 199);
    text-decoration: none;
}

footer > div.info-footer > div.container > a:hover {
    color: red;
}

footer > div.info-footer > div.container > p {
    color: rgb(199, 199, 199);
    text-align: center;
    margin-top: 10px;
}

footer > div.info-footer > div.social-menu > ul {
    margin-left: 5%;
    display: flex;
}

footer > div.info-footer > div.social-menu > ul > li {
    list-style: none;
    margin: 25px;
}

footer > div.info-footer > div.social-menu > ul > li > a > i {
    color: black;
    font-size: 30px;
    line-height: 60px;
    transition: 6s;
}


footer > div.info-footer > div.social-menu > ul > li > a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

footer > div.info-footer > div.social-menu > ul > li > a:hover {
    transform: translate(0, -10px);
}

footer > div.info-footer > div.social-menu > ul > li:nth-child(1) > a:hover {
background-color: #3b5998;
}
footer > div.info-footer > div.social-menu > ul > li:nth-child(2) > a:hover {
background-color: #E4405F;
}
footer > div.info-footer > div.social-menu > ul > li:nth-child(3) > a:hover {
background-color: #0099FF;
}

footer > div.info-footer > div.social-menu > div.contact-phone {
    display: grid;
    text-align: end;
    padding-right: 40px;
    margin-top: -110px;
}

footer > div.info-footer > div.social-menu > div.contact-phone > a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition-duration: 0.5s;
}

footer > div.info-footer > div.social-menu > div.contact-phone > a:hover {
    color: red;
}


*{
    padding: 0;
    margin: 0;
    
}

body {
    max-width: 980px;
    margin: auto;
    font-family: 'Kurale', serif;
    scroll-behavior: smooth;
}
